{{!--

logout handlebar template

--}}


<<<<<<< HEAD
    <h1>You have been logged out</h1>
    <p><a href="/login">Click here to login</a></p>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Logout</title>
</head>
<body>
    <h1>You have been logged out</h1>
    <p><a href="/login">Click here to login</a></p>
</body>
</html>
>>>>>>> 0d3355ced6040c6b207b2b85f646fda1a0ac561d
